<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{userId.name}}</h1>
  </div>
  <div class="col-md-4">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Email:</strong> {{userId.email}}</li>
        <li><strong>Created Date: </strong> {{relativeTimeFromNow userId.createdAt}}</li>
      </ul>
    </div>
  </div>
</div>

  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>